<div class="key-container">
  <div id="black-keys-container">
    <kbd id="W">W</kbd>
    <kbd id="E">E</kbd>
    <kbd class="blank-key">;'</kbd>
    <kbd id="T">T</kbd>
    <kbd id="Y">Y</kbd>
    <kbd id="U">U</kbd>
    <kbd class="blank-key">;'</kbd>
    <kbd id="O">O</kbd>
    <kbd id="P">P</kbd>
  </div>
  <div id="white-keys-container">
    <kbd id="A">A</kbd>
    <kbd id="S">S</kbd>
    <kbd id="D">D</kbd>
    <kbd id="F">F</kbd>
    <kbd id="G">G</kbd>
    <kbd id="H">H</kbd>
    <kbd id="J">J</kbd>
    <kbd id="K">K</kbd>
    <kbd id="L">L</kbd>
    <kbd id=";">;</kbd>
  </div>
</div>
